{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
<style>
body {
    font-family: Sans-Serif;
	margin: 0;
}
#header {
    color: #fff;
    width: 100%;
    height: 6%;
    background-color: #4484CE;
}
#title {
    text-align: center;
    font-weight: 650;
    font-size: 2.5em;
    line-height: 1.5;
    color: #DDE9F6;
}
#main {
    width: 100%;
    background-color:#D9D9D9;
}
#map {
	width:95%;
	height:80%;

}
.leaflet-container {
    background-color:#D9D9D9;
}
.leaflet-tile-container {
    display: none;
}

.leaflet-popup-content-wrapper {

}

.leaflet-popup-content {

}

.leaflet-popup-tip-container {

}
</style>
{% endblock head %}
{% block content %}
<div id="header">
    <div id="title">JAIL WATCH</div>
</div>
<div id="content">
    <div id="main">
        <div id="sidebar"></div>
        <div id="map"></div>
    </div>
    <div id="">

    </div>
</div>
<div id="footer">

</div>
<script type="text/javascript">
	var map = L.map('map', { zoomControl:false, attributionControl:false, zoomSnap: 0.1});

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 12,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.light'
	}).addTo(map);

	map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();

	function countyStyle(feature) {
		return {
			weight: 3,
			opacity: 1,
			color: '#D9D9D9',
			fillOpacity: 1,
			fillColor: '#386CA9'
		};
	}

	function jailStyle(feature) {
		return {

		};
	}
    function jailMarker(feature, latlng) {
        var jailIcon = L.icon({
            iconUrl: '{% static 'images/jail-icon.png' %}',
            iconSize:     [26, 26], // size of the icon
            iconAnchor:   [13, 13], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
        });
        return L.marker(latlng, {icon: jailIcon});
    }

    function countyPopup(feature, layer) {
        layer.bindPopup('<h3>'+feature.properties.name+' County</h3>');
	}

	function jailPopup(feature, layer) {
        layer.bindPopup(
            '<h3>'+feature.properties.name+'</h3>'+
            'City: '+feature.properties.city+'</br>'+
            'Capacity: '+feature.properties.capacity+'</br>'+
            'Phone: '+feature.properties.phone_number
        );

        layer.on(
            'mouseover',
            function(e){ layer.openPopup(); }
        );

        layer.on(
            'mouseout',
            function(e){ layer.closePopup(); }
        );
    }

    var jails = L.geoJson({{jail_loc|safe}}, {
        style: jailStyle,
        onEachFeature: jailPopup,
        pointToLayer: jailMarker,
    }).addTo(map);

	var counties = L.geoJson({{county_map|safe}}, {
		style: countyStyle,
		onEachFeature: countyPopup
	}).addTo(map);

    map.invalidateSize()
    map.fitBounds(counties.getBounds(), {padding: [50, 50]})
    map.on('resize', function() {
        map.invalidateSize()
        map.fitBounds(counties.getBounds(), {padding: [30, 30]})
    });
</script>
{% endblock content %}